# CSCI1360 - Module 2.2

## Introduction to Python

### Overview and Objectives

- Understand variables usage and their types
- Learn naming restrictions in Python
- Learn how to cast between data types

### Variables

- A variable is a name for a memory area used to store some value

- Values stored in variables could vary in their date types

- Data types: Integer, Float, String

***Examples***

`grade = 95`

`pi = 3.14159265`

`first_name = 'John'`

Variables can store the result of an arithmetic operation

**Example**

In [1]:
# Storeing the result of an arithmetic operation in variable x
x = 2 * 3

# Assign 3 to y
y = 3

# Divide x by y and store the result in z
z = x / y

# Now lets print the values
print(x)
print(y)
print(z)

6
3
2.0

**More Examples**

In [2]:
# More examples
# Adding 2 to a variable value then store the result in x 
x = y + 2

# Incrementing y by 1
y = y + 1

# Another way to increment y by 1
y += 1

# Decrement z by 2
z -= 2

In [3]:
# Another way to print multiple values
print(x, y, z)

# Using print to format the output
separator = '*'
print(x, separator, y, separator, z)

5 5 0.0
5 * 5 * 0.0

**The String Data Type**

In Python, a string is a sequence of characters enclosed within either single quotes (' ') or double quotes (" ")

**Example**

In [4]:
# Directly use a string value as an input in the print function
print('The first name is:')

# Using the variable as an input for print
first_name = 'John'
print(first_name)

The first name is:
John

**More String Examples**

In [5]:
# A string of multipel words
full_name = 'John Smith'

# Concatenating multiple string values
full_name = 'John' + ' ' + 'Smith'

# Using douple quotes
last_name = "Smith"

# Concatenation using variables and literals
full_name = first_name + ' ' + last_name

print(first_name)
print(last_name)
print(full_name)

John
Smith
John Smith

## The `type()` Function

- Returns the data type of the input
- Does not pass the returned result to the output screen

**Examples**

In [6]:
# Does not print anything
type(1)

# Showing output starts here
print( type(1) )
print( type(5.0) )
print( type('John') )
print( type('5.0') )

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

Notice the difference between the types in `type( 5.0 )` and `type('5.0' )`

**What happens when combining different data types in one operation**

`print(5 + 7.5)`

`print("5" + 7.5)`

### dynamic typing

### casting

In [7]:
### naming conventions